@media (min-width: 2400px) {
  .header-words {
    font-size: 4.5rem !important;
    line-height: 4.5rem !important; }
    .header-words button {
      font-size: 2rem !important; }

  .social-media-icons a i {
    font-size: 3.2rem !important;
    padding: 20px; }

  nav ul {
    width: 100%; }
    nav ul li {
      padding: 10px; }

  nav ul li a {
    font-size: 2.2rem !important; }

  .heading {
    font-size: 12rem !important; }

  .about-me-words h4 {
    font-size: 1.9rem !important; }

  .about-me-words p {
    font-size: 1.9rem !important;
    line-height: 2.9rem !important; }

  a.resume {
    font-size: 2rem !important; }

  .projects .projects-header {
    font-size: 3.2rem !important; }

  .get-in-touch {
    margin-top: 12rem;
    max-width: 1200px !important; }

  .get-in-touch .title {
    font-size: 3.5rem !important; }

  .contact-form .submit-btn {
    font-size: 30px;
    padding: 15px 25px; }

  .movetotop {
    width: 80px !important;
    height: 90px !important; }
    .movetotop i {
      margin-top: 10px;
      font-size: 2.5rem !important; }

  footer .social-media-icons {
    padding: 4rem !important; }
    footer .social-media-icons i {
      font-size: 3rem !important;
      width: 5.5rem !important; }

  footer .copyright {
    font-size: 2rem !important; } }
@media (max-width: 2399px) and (min-width: 1501px) {
  .header-words {
    font-size: 3.8rem;
    line-height: 3.8rem; }
    .header-words button {
      margin: 1.8rem auto;
      padding: 1rem 2rem;
      font-size: 1.8rem; }

  .social-media-icons a i {
    font-size: 2.8rem; }

  nav ul {
    width: 100%; }
    nav ul li {
      padding: 10px; }

  nav ul li a {
    font-size: 1.7rem; }

  .heading {
    font-size: 7rem; }

  .about-me-words h4 {
    font-size: 1.5rem; }

  .about-me-words p {
    font-size: 1.7rem;
    line-height: 2.4rem; }

  a.resume {
    font-size: 1.6rem; }

  .projects .projects-header {
    font-size: 2.7rem; }

  .get-in-touch {
    max-width: 960px; }
    .get-in-touch .form-field {
      margin-bottom: 70px; }

  .get-in-touch .title {
    font-size: 2.7rem; }
    .get-in-touch .title .row .col {
      padding: 0px; }

  .contact-form .submit-btn {
    font-size: 25px;
    padding: 16px 20px; }

  .movetotop {
    width: 70px;
    height: 80px; }
    .movetotop i {
      margin-top: 20px;
      font-size: 2.2rem; }

  footer .social-media-icons {
    padding: 2.8rem; }
    footer .social-media-icons i {
      font-size: 2.3rem;
      width: 4.5rem; }

  footer .copyright {
    font-size: 1.7rem; } }
@media (min-width: 1100px) and (max-width: 1500px) {
  .get-in-touch {
    max-width: 700px; } }
@media (min-width: 1101px) and (max-width: 1500px) {
  .header-words {
    font-size: 2.9rem;
    line-height: 3.5rem; }
    .header-words button {
      margin: 0.8rem auto !important;
      padding: 0.8rem 0.7rem !important;
      font-size: 1.2rem !important; }

  .social-media-icons a i {
    font-size: 1.8rem; }

  nav ul {
    width: 100%; }
    nav ul li {
      padding: 10px; }

  nav ul li a {
    font-size: 1.2rem; }

  .heading {
    font-size: 7rem; }

  .about-me-words h4 {
    font-size: 1.1rem; }

  .about-me-words p {
    font-size: 1rem; }

  a.resume {
    font-size: 1rem;
    padding: 10px 15px; }

  .projects .projects-header {
    font-size: 2.3rem; }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 22vw); }

  .contact-form .submit-btn {
    font-size: 17px;
    padding: 8px 15px; }

  .movetotop {
    width: 50px;
    height: 50px; }
    .movetotop i {
      font-size: 1.5rem; }

  footer .social-media-icons {
    padding: 2rem; }
    footer .social-media-icons i {
      font-size: 1.8rem;
      width: 3.5rem; }

  .copyright {
    font-size: 1rem; } }
@media (min-width: 901px) and (max-width: 1100px) {
  nav ul {
    width: 100%; }
    nav ul li {
      padding: 10px; }

  .header-words {
    font-size: 3.5rem; }
    .header-words button {
      margin: 1.5rem auto;
      padding: 1rem 1.5rem;
      font-size: 1.8rem; }

  .social-media-icons a i {
    font-size: 1.8rem; }

  nav ul li a {
    font-size: 1.1rem; }

  .about-me-words h4 {
    font-size: 1.4rem; }

  .about-me-words p {
    font-size: 1.2rem;
    line-height: 1.8rem; }

  a.resume {
    font-size: 1.3rem; }

  .copyright {
    font-size: 1.3rem !important; }

  .contact-form .submit-btn {
    font-size: 23px;
    padding: 14px 20px; } }
@media screen and (max-width: 900px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 30vw); }

  .grid_item:hover .grid_image {
    transform: none;
    filter: none; }

  nav ul {
    width: 100%; }
    nav ul li {
      padding: 10px; }

  button:not(.header-cta) {
    position: relative;
    left: -1000px; }

  .text {
    display: block;
    font-family: "Roboto Mono";
    text-transform: uppercase;
    letter-spacing: 0px; }

  .language {
    position: absolute;
    top: 165px;
    left: -165px;
    font-size: 1.1rem;
    background-color: cadetblue;
    width: auto;
    padding: 10px;
    text-align: left; }

  .grid_item:hover .text {
    display: block;
    animation: none; } }
@media screen and (max-width: 830px) {
  .heading {
    font-size: 5rem; }

  .about-me-words {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
    padding: 10px 30px;
    text-align: justify;
    grid-auto-rows: minmax(200px, auto); }
    .about-me-words p {
      margin-bottom: 30px; }

  .language {
    position: absolute;
    top: 150px;
    left: -150px;
    font-size: 1.1rem;
    background-color: cadetblue;
    width: auto;
    padding: 10px;
    text-align: left; } }
@media screen and (max-width: 768px) {
  nav .menu {
    position: absolute;
    width: 50%;
    height: 100vh;
    background: #1b242f;
    top: 8vh;
    left: -100%;
    transition: 0.8s ease; }
    nav .menu ul {
      width: 100% !important;
      display: block;
      text-align: center; }
      nav .menu ul li {
        margin: 2rem 1rem;
        padding: 2rem;
        border-bottom: 1px solid #36cfd4; }
  nav .menu.active {
    left: 0; }
  nav .burger {
    display: block;
    font-size: 1.8rem; }

  .header-words {
    font-size: 2.8rem; }
    .header-words button {
      margin: 1.5rem auto;
      padding: 0.6rem 1.5rem;
      font-size: 1.1rem !important; }

  .social-media-icons a i {
    font-size: 1.8rem; }

  nav ul li a {
    font-size: 1.2rem;
    text-transform: uppercase; }

  .about-me-words h4 {
    font-size: 1rem; }

  .about-me-words p {
    font-size: 1rem;
    line-height: 1.7rem; }

  a.resume {
    font-size: 1rem; }

  .copyright {
    font-size: 1.4rem !important; }

  .language {
    position: absolute;
    top: 130px;
    left: -130px;
    font-size: 1rem;
    background-color: cadetblue;
    width: auto;
    padding: 10px;
    text-align: left; } }
@media screen and (max-width: 740px) {
  .header-words {
    font-size: 2.5rem; }

  button.header-cta {
    font-size: 1.3rem;
    padding: 0.7rem 1rem; }

  .language {
    position: absolute;
    top: 125px;
    left: -110px;
    font-size: 0.8rem;
    background-color: cadetblue;
    width: auto;
    padding: 10px;
    text-align: left; } }
@media screen and (max-width: 600px) {
  .header-words {
    font-size: 2rem;
    line-height: 2rem; }

  button.header-cta {
    font-size: 1.1rem;
    padding: 0.5rem 0.7rem; }

  .heading {
    font-size: 4rem; }

  .projects .projects-header {
    font-size: 30px; }

  .get-in-touch .title {
    font-size: 30px; }
  .get-in-touch .row .col {
    float: none;
    padding: 0 4rem 0 4rem; }
    .get-in-touch .row .col.x-50 {
      width: 100%; }
  .get-in-touch .label {
    padding: 0 0 0 3rem; }

  .language {
    position: absolute;
    top: 110px;
    left: -80px;
    font-size: 0.8rem;
    background-color: cadetblue;
    width: auto;
    padding: 10px;
    text-align: left; } }
@media screen and (max-width: 540px) {
  .heading {
    font-size: 3.5rem; }

  .about-me-words {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: justify;
    grid-auto-rows: minmax(200px, auto); }
    .about-me-words p {
      margin-bottom: 40px; }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 50vw);
    grid-row-gap: 50px; }
    .grid-container .grid_image {
      margin-top: 2rem;
      object-fit: cover; }

  .language {
    position: absolute;
    top: 165px;
    left: -165px;
    font-size: 1rem;
    background-color: cadetblue;
    width: auto;
    padding: 10px;
    text-align: left; }

  .movetotop {
    width: 40px;
    height: 40px;
    bottom: 40px;
    right: 40px; }
    .movetotop i {
      font-size: 23px;
      position: absolute;
      bottom: 10px;
      right: 8px; } }
@media screen and (max-width: 500px) {
  .heading {
    font-size: 3rem; }

  .header-words {
    font-size: 1.7rem;
    line-height: 2rem; }

  button.header-cta {
    font-size: 0.9rem;
    padding: 0.5rem 0.7rem; }

  .about-me-words p {
    font-size: 1.1rem; }

  .contact-form .submit-btn {
    font-size: 13px;
    padding: 5px 10px; }

  footer {
    margin-bottom: 0; }

  footer .social-media-icons {
    padding: 1.5rem; }
    footer .social-media-icons i {
      font-size: 1.3rem;
      width: 3rem; }

  .copyright {
    font-size: 0.9rem !important; }

  .language {
    position: absolute;
    top: 150px;
    left: -150px;
    font-size: 0.8rem;
    background-color: cadetblue;
    width: auto;
    padding: 10px;
    text-align: left; } }
@media screen and (max-width: 400px) {
  .heading {
    font-size: 2.3rem; }

  .header-words {
    font-size: 1.4rem;
    line-height: 1.7rem; }

  button.header-cta {
    font-size: 0.7rem;
    padding: 0.4rem 0.6rem; }

  .language {
    position: absolute;
    top: 120px;
    left: -115px;
    font-size: 0.8rem;
    background-color: cadetblue;
    width: auto;
    padding: 10px;
    text-align: left; }

  footer .social-media-icons i {
    margin: 1rem;
    font-size: 1.5rem;
    padding: 15px;
    width: 3rem; } }
@media screen and (max-width: 350px) {
  body {
    overflow-x: hidden; }

  .header-words {
    font-size: 1.3rem; }
    .header-words button {
      padding: 0.5rem 0.8rem;
      font-size: 0.8rem; }
      .header-words button:hover {
        background-color: transparent; }
      .header-words button i {
        margin-left: 0.3rem; }

  .heading {
    font-size: 2.3rem;
    padding: 20px;
    margin-top: 2rem; }

  nav {
    min-height: 8vh; }

  .get-in-touch .title {
    font-size: 1.5rem; }
    .get-in-touch .title:after {
      content: '';
      display: block;
      margin: 0 auto;
      width: 5rem;
      padding-top: 5px;
      border-bottom: 3px solid #111; }

  .language {
    position: absolute;
    top: 110px;
    left: -75px;
    font-size: 0.8rem;
    background-color: cadetblue;
    width: auto;
    padding: 10px;
    text-align: left; }

  footer .social-media-icons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center; } }

/*# sourceMappingURL=mediaqueries.css.map */
