@media screen and (max-width: 1100px) {
  nav ul {
    width: 50%;
  }
}

@media screen and (max-width: 900px) {
  .grid-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (30vw)[3];
        grid-template-rows: repeat(3, 30vw);
  }
  .grid_item:hover .grid_image {
    -webkit-transform: none;
            transform: none;
    -webkit-filter: none;
            filter: none;
  }
  button:not(.header-cta) {
    position: relative;
    left: -1000px;
  }
  .text {
    display: block;
  }
  .language {
    position: absolute;
    top: 165px;
    left: -165px;
    font-size: 1.1rem;
    background-color: cadetblue;
    width: auto;
    padding: 10px;
    text-align: left;
  }
  .grid_item:hover .text {
    display: block;
    -webkit-animation: none;
            animation: none;
  }
}

@media screen and (max-width: 830px) {
  .heading {
    font-size: 5rem;
  }
  .about-me-words {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
    padding: 10px 30px;
    text-align: justify;
    grid-auto-rows: minmax(200px, auto);
  }
  .about-me-words p {
    margin-bottom: 30px;
  }
  .language {
    position: absolute;
    top: 150px;
    left: -150px;
    font-size: 1.1rem;
    background-color: cadetblue;
    width: auto;
    padding: 10px;
    text-align: left;
  }
}

@media screen and (max-width: 768px) {
  nav ul {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #1b242f;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    opacity: 0;
  }
  nav ul li {
    text-align: center;
  }
  nav .fa-linkedin-square,
  nav .fa-instagram,
  nav .fa-github {
    font-size: 1.8rem;
  }
  nav .burger {
    display: block;
    font-size: 1.4rem;
  }
  .language {
    position: absolute;
    top: 130px;
    left: -130px;
    font-size: 1rem;
    background-color: cadetblue;
    width: auto;
    padding: 10px;
    text-align: left;
  }
}

@media screen and (max-width: 740px) {
  .header-words {
    font-size: 2.5rem;
  }
  button.header-cta {
    font-size: 1.3rem;
    padding: 0.7rem 1rem;
  }
  .language {
    position: absolute;
    top: 125px;
    left: -110px;
    font-size: 0.8rem;
    background-color: cadetblue;
    width: auto;
    padding: 10px;
    text-align: left;
  }
}

@media screen and (max-width: 600px) {
  .header-words {
    font-size: 2rem;
    line-height: 2rem;
  }
  button.header-cta {
    font-size: 1.1rem;
    padding: 0.5rem 0.7rem;
  }
  .heading {
    font-size: 3.15rem;
  }
  .projects .projects-header {
    font-size: 30px;
  }
  .get-in-touch .title {
    font-size: 30px;
  }
  .get-in-touch .row .col {
    float: none;
    padding: 0 4rem 0 4rem;
  }
  .get-in-touch .row .col.x-50 {
    width: 100%;
  }
  .get-in-touch .label {
    padding: 0 0 0 3rem;
  }
  .language {
    position: absolute;
    top: 110px;
    left: -80px;
    font-size: 0.8rem;
    background-color: cadetblue;
    width: auto;
    padding: 10px;
    text-align: left;
  }
}

@media screen and (max-width: 540px) {
  h1 {
    margin: 0;
    padding: 0;
  }
  .heading {
    font-size: 2.75rem;
  }
  .about-me-words {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    text-align: justify;
    grid-auto-rows: minmax(200px, auto);
  }
  .about-me-words p {
    margin-bottom: 40px;
  }
  .grid-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: (50vw)[6];
        grid-template-rows: repeat(6, 50vw);
  }
  .grid-container .grid_image {
    margin-top: 2rem;
  }
  .language {
    position: absolute;
    top: 165px;
    left: -165px;
    font-size: 1rem;
    background-color: cadetblue;
    width: auto;
    padding: 10px;
    text-align: left;
  }
  .movetotop {
    width: 40px;
    height: 40px;
    bottom: 40px;
    right: 40px;
  }
  .movetotop i {
    font-size: 23px;
    position: absolute;
    bottom: 10px;
    right: 8px;
  }
}

@media screen and (max-width: 500px) {
  .heading {
    font-size: 2.7rem;
  }
  h1 {
    margin: 0;
    padding: 0;
  }
  .header-words {
    font-size: 1.7rem;
    line-height: 2rem;
  }
  button.header-cta {
    font-size: 0.9rem;
    padding: 0.5rem 0.7rem;
  }
  .language {
    position: absolute;
    top: 140px;
    left: -135px;
    font-size: 1rem;
    background-color: cadetblue;
    width: auto;
    padding: 10px;
    text-align: left;
  }
}

@media screen and (max-width: 400px) {
  h1 {
    margin: 0;
    padding: 0;
  }
  .heading {
    font-size: 2.3rem;
  }
  .header-words {
    font-size: 1.4rem;
    line-height: 1.7rem;
  }
  button.header-cta {
    font-size: 0.7rem;
    padding: 0.4rem 0.6rem;
  }
  .language {
    position: absolute;
    top: 120px;
    left: -115px;
    font-size: 0.8rem;
    background-color: cadetblue;
    width: auto;
    padding: 10px;
    text-align: left;
  }
}
/*# sourceMappingURL=mediaqueries.css.map */