@import "mixins";
$nav-bar: #1b242f;
$roboto-mono: 'Roboto Mono';


// ----------------------  2400 px --------------------------------

@media screen and (min-width: 2400px) {
  .header-words {
    font-size: 4rem !important;
    line-height: 5rem;

    button {
      margin: 1.5rem auto;
      padding: 1.2rem 2.2rem !important;
      font-size: 1.8rem !important;
    }
  }

  .social-media-icons a i {
    font-size: 2.8rem !important;
  }

  nav ul li a {
    font-size: 1.9rem !important;
  }

  .heading {
    font-size: 9rem !important;
  }
  
  .about-me-words h4 {
    font-size: 1.8rem !important;
  }

  .about-me-words p {
    font-size: 1.8rem !important;
    line-height: 2.8rem !important;
  }

  a.resume {
    font-size: 1.8rem !important;
  }

  .projects .projects-header {
    font-size: 3rem !important;
  }

  .get-in-touch {
    max-width: 1000px !important;
  }

  .get-in-touch .title {
    font-size: 3rem !important;
  }

  .contact-form .submit-btn {
    font-size: 27px;
    padding: 15px 25px;
  }

  .movetotop {
    width: 80px !important;
    height: 70px !important;

    i {
      margin-top: 10px;
      font-size: 2.5rem !important;
    }
  }
}


// ----------------------  1501 px --------------------------------

@media screen and (min-width: 1501px) {
  .header-words {
    font-size: 3.2rem;

    button {
      margin: 1.5rem auto;
      padding: 0.9rem 1.9rem;
      font-size: 1.5rem;
    }
  }

  .social-media-icons a i {
    font-size: 2.6rem;
  }

  nav ul li a {
    font-size: 1.7rem;
  }

  .heading {
    font-size: 7rem;
  }
  
  .about-me-words h4 {
    font-size: 1.5rem;
  }

  .about-me-words p {
    font-size: 1.6rem;
    line-height: 2.3rem;
  }

  a.resume {
    font-size: 1.5rem;
  }

  .projects .projects-header {
    font-size: 2.5rem;
  }

  .get-in-touch {
    max-width: 900px;

    .form-field {
      margin-bottom: 70px;
    }
  }

  .get-in-touch .title {
    font-size: 2.5rem;

    .row {
      .col {
        padding: 0px;
      }
    }
  }

  .movetotop {
    width: 65px;
    height: 65px;

    i {
      font-size: 2rem;
    }
  }

  footer .social-media-icons {
    padding: 2.8rem;
  i {
    font-size: 2.3rem;
    width: 4.5rem;
  }
}

footer .copyright {
  font-size: 1.7rem;
}
  
}




// ----------------------  1500 px --------------------------------

@media screen and (max-width: 1500px) {
  .header-words {
    font-size: 3rem;
  }

  .social-media-icons a i {
    font-size: 2.3rem;
  }

  nav ul li a {
    font-size: 1.5rem;
  }

  
  .about-me-words h4 {
    font-size: 1.2rem;
  }

  .about-me-words p {
    font-size: 1.3rem;
    line-height: 2rem;
  }

  a.resume {
    font-size: 1.2rem;
  }

  .grid-container {
    display: grid;
    grid-template-columns : repeat(3,1fr);
    grid-template-rows: repeat(2, 25vw);
  }

  .get-in-touch {
    max-width: 800px;
  }


  .contact-form .submit-btn {
    font-size: 25px;
    padding: 14px 20px;
  }

  .movetotop {
    width: 55px;
    height: 55px;

    i {
      font-size: 1.8rem;
    }
  }

  footer .social-media-icons {
    padding: 2.5rem;
  i {
    font-size: 2rem;
    width: 4rem;
  }
}

footer .copyright {
  font-size: 1.4rem;
  margin-bottom: 10px;
}
}



// ----------------------  1300 px --------------------------------

@media screen and (max-width: 1300px) {

  .social-media-icons a i {
    font-size: 2rem;
  }

  nav ul li a {
    font-size: 1.3rem;
  }

  .about-me-words p {
    font-size: 1.2rem;
  }

  .grid-container {
    display: grid;
    grid-template-columns : repeat(3,1fr);
    grid-template-rows: repeat(2, 22vw);
  }

  .get-in-touch {
    max-width: 650px;
  }
}




// ----------------------  1100 px --------------------------------

@media screen and (max-width: 1100px) {
  nav ul {
    width: 50%;
  }

  .contact-form .submit-btn {
    font-size: 23px;
    padding: 14px 20px;
  }
}


// ----------------------  900 px --------------------------------

@media screen and (max-width: 900px) {
  .grid-container {
    display: grid;
    grid-template-columns : repeat(2,1fr);
    grid-template-rows: repeat(3, 30vw);
  }

  .grid_item:hover .grid_image {
    transform : none;
    filter: none;
  }

  
  button:not(.header-cta) {
    position: relative;
    left: -1000px;
  }

  .text {
    display: block;
    // background-color: #e5e5e5;
    font-family: $roboto-mono;
    text-transform: uppercase;
    letter-spacing: 0px;
    
  }


  @include languagePlacement(165px, -165px, 1.1rem);


  .grid_item:hover .text {
    display: block;
    animation: none;
  }
}


// ----------------------  830 px --------------------------------

@media screen and (max-width: 830px) {

  
  .heading {
    font-size: 5rem;
  }

  .about-me-words {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
    padding: 10px 30px;
    text-align: justify;
    grid-auto-rows: minmax(200px, auto);

    p {
      margin-bottom: 30px;
    }
  }

  @include languagePlacement(150px, -150px, 1.1rem);
}

// ----------------------  768 px --------------------------------

@media screen and (max-width: 768px) {
  

  nav {
    ul {
      position: absolute;
      right: 0px;
      height: 92vh;
      top: 8vh;
      background-color: $nav-bar;
      display: flex;
      flex-direction: column;
      align-items: center;
      // right: -1000px;
      transition: all 0.5s ease-in;
      opacity: 0;

      li {
        text-align: center;
      }
    }

    .fa-linkedin-square,
    .fa-instagram,
    .fa-github {
      font-size: 1.8rem;
    }

    .burger {
      display: block;
      font-size: 1.4rem;
    }
  }


  @include languagePlacement(130px, -130px, 1rem);

}




// ----------------------  740 px --------------------------------

@media screen and (max-width: 740px) {

  .header-words {
    font-size: 2.5rem;
  }

  button.header-cta {
    font-size: 1.3rem;
    padding: 0.7rem 1rem;
  }

  @include languagePlacement(125px, -110px, 0.8rem);
}

// ----------------------  600 px --------------------------------

@media screen and (max-width: 600px) {

  

  .header-words {
    font-size: 2rem;
    line-height: 2rem;
  }

  button.header-cta {
    font-size: 1.1rem;
    padding: 0.5rem 0.7rem;
  }

  .heading {
    font-size: 3.15rem;
  }

  .projects {
  .projects-header {
    font-size: 30px;
  }
}

  .get-in-touch {

    .title {
      font-size: 30px;
    }

    .row {
      .col {
        float: none;
        padding: 0 4rem 0 4rem;
     
      &.x-50 {
        width: 100%;
        }
    
      }

    }

    .label {
      padding: 0 0 0 3rem;
    }
  }

  @include languagePlacement(110px, -80px, 0.8rem);
}

  

// ----------------------  540 px --------------------------------

@media screen and (max-width: 540px) {

  .heading {
    font-size: 2.75rem;
  }


  .about-me-words {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: justify;
    grid-auto-rows: minmax(200px, auto);

    p {
      margin-bottom: 40px;
    }
  }

  .grid-container {
    display:  grid;
    grid-template-columns : repeat(1,1fr);
    grid-template-rows: repeat(6, 50vw);
    grid-row-gap: 50px;
    // margin: 2rem;

    .grid_image {
      margin-top: 2rem;
      object-fit: cover;
    }
  }

  @include languagePlacement(165px, -165px, 1rem);

  .movetotop {
    width: 40px;
    height: 40px;
    bottom: 40px;
    right: 40px;

    i {
      font-size: 23px;
      position: absolute;
      bottom: 10px;
      right: 8px;
    }
  }

}





// ----------------------  500 px --------------------------------

@media screen and (max-width: 500px) {



  .heading {
    font-size: 2.7rem;
  }

  .header-words {
    font-size: 1.7rem;
    line-height: 2rem;
  }

  button.header-cta {
    font-size: 0.9rem;
    padding: 0.5rem 0.7rem;
  }

  .get-in-touch {
    margin: 6rem -1rem;
  }

  @include languagePlacement(150px, -150px, 0.8rem);
}





// ----------------------  400 px --------------------------------

@media screen and (max-width: 400px) {

  .heading {
    font-size: 2.3rem;
  }

  .header-words {
    font-size: 1.4rem;
    line-height: 1.7rem;
  }

  button.header-cta {
    font-size: 0.7rem;
    padding: 0.4rem 0.6rem;
  }

  @include languagePlacement(120px, -115px, 0.8rem);

  footer {
    .social-media-icons {
      i {
        margin: 1rem;
        font-size: 1.5rem;
        padding: 15px;
        width: 3rem;
      }
    }
  }
}



// ----------------------  350 px --------------------------------

@media screen and (max-width: 350px) {
  body {
    overflow-x: hidden;
  }

  nav {
    ul {
      height: 91vh;
      li {
        margin-left: 3rem;
      }

      li:first-child {
        margin-left: 70px;
      }
    }
  }

  .header-words {
    font-size: 1.3rem;

    button {
      padding: 0.5rem 0.8rem;
      font-size: 0.8rem;

      &:hover {
        background-color: transparent;
      }

      i {
        margin-left: 0.3rem;
      }
    }
  }

  .heading {
    font-size: 2.3rem;
    padding: 20px;
    margin-top: 2rem;
  }

  nav {
    min-height: 9vh;
  }

  .get-in-touch {
  .title {
    font-size: 1.5rem;

    &:after {
      @include shortBorder(5rem, 5px, 3px, #111);
    }
  }
}

@include languagePlacement(110px, -75px, 0.8rem);
  
  footer {
    .social-media-icons {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      text-align: center;
    }
  }
}



