// Custom Width Border

@mixin shortBorder($width, $padding-top, $border-thickness, $border-color) {
  content: '';
  display: block;
  margin: 0 auto;
  width: $width;
  padding-top: $padding-top;
  border-bottom: $border-thickness solid $border-color;
}

@mixin clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin languagePlacement($top, $left, $font) {
  .language {
    position: absolute;
    top: $top;
    left: $left;
    font-size: $font;
    background-color: cadetblue;
    width: auto;
    padding: 10px;
    text-align: left;
  }
}