@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Lusitana:400,700');

// variables
$header-main: #252934;
$primary-font: 'Roboto';
$plane-white: #fff;
$nav-bar: #1b242f;
$button-hover-color: #36cfd4;
$footer-social-media-hover:#04C2C9;
$roboto-mono: 'Roboto Mono';
$heading-font: 'Alfa Slab One';
$para-font: 'Open Sans';
$name: #E31C6E;
$social-media-background-footer:#262F38;
