@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

// variables
$header-main: #252934;
$primary-font: 'Roboto';
$plane-white: #fff;
$nav-bar: #1b242f;
$button-hover-color: #36cfd4;
$roboto-mono: 'Roboto Mono';
$heading-font: 'Alfa Slab One';
$para-font: 'Open Sans';
$skill-background-color: #E31C6E;
